# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/

# Database
*.db
*.sqlite

# Weights & ML
*.pt
backend/ml/runs/
backend/ml/yolov8n.pt

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# OS Files
.DS_Store
Thumbs.db
